<div class="row" style="margin-top: 20px;">
    <div class="col col-lg-5">
        <img style="width: 100%;" src="{{tieusu.image}}" alt="">
    </div>
    <div class="col col-lg-7">
        <h2 style="text-align: center ;" >{{tieusu.name}}</h2>
        <div >
            <h3>{{tieusu.job}}</h3>
        </div>
        <div >
            <p>{{tieusu.tieusu}}</p>
        </div>
    </div>

</div>