<div class="mt-16">
    <h1>Thêm nhân vật</h1>
    <form method="post" action="/company/setupdate/{{tieusu._id}}">
    <div class="input-group mb-3">
         <span class="input-group-text" id="basic-addon1">Họ và Tên</span>
        <input type="text" class="form-control" name="name" placeholder="name" >
    </div>
     <div class="input-group mb-3">
         <span class="input-group-text" id="basic-addon1">Ảnh</span>
        <input type="text" class="form-control" name="image" placeholder="image" >
    </div>
    <div class="input-group mb-3">
         <span class="input-group-text" id="basic-addon1">Tiểu sử</span>
        <input type="text" class="form-control" name="tieusu" placeholder="tieusu" >
    </div>
     <div class="input-group mb-3">
         <span class="input-group-text" id="basic-addon1">Ngày sinh</span>
        <input type="text" class="form-control" name="date" placeholder="date" >
    </div>
    <input type="submit">
    </form>
</div>
